
/* --------------------------------------------------- */
/*                Our own css styles                   */
/* --------------------------------------------------- */

body, html {
    background-color: white;
}

.rfidTagsFlexTable {
    width: 100%;
}

.flexTableItem {
    font-size: 32px;
    background-color: #66FF66;
    border: 20px solid white;
}


/* --------------------------------------------------- */
/*               GWT/Pyjamas CSS styles                */  
/* --------------------------------------------------- */

.gwt-Button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}


/* --------------------------------------------------- */
/* The following is for making pyjamas HTML5 compliant */
/* --------------------------------------------------- */
html, body {
    height:100%;
}

.gwt-Image {
    line-height: 0;
}

.gwt-Image {
    display: block;
}

.gwt-Table > tbody, .gwt-Image {
    display: block; /* HTML5 effects panel alignment fix, and footer removal fix for images */
}

.text {
    font-size: 20px;
}
